html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: black;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/assets/fonts/Shrikhand-Regular.ttf");
}
.TitleSection {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 26px 20px;
}

.Dish, footer, .ArtGroup .ArtResto .parent-new .new, .Functioning .FunctioningArt .FunctioningSteps {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

.Dish .dish-text h3, button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}

.Presentation .PresentationText p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
}

.ArtGroup .ArtResto .InfoResto .TextResto, .Presentation .PresentationLocalization input {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
}

.Dish .Price, .Menu .MenuDish .TitleMenu {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
}

@keyframes spin-rigth {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes spin-left {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-360deg) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes spin-purple {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(110deg);
  }
  50% {
    transform: rotate(190deg);
  }
  85% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  to {
    visibility: hidden;
  }
}
@keyframes valid {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.MenuDish .Dish {
  animation: slideInFromRight 1s ease-out;
}

.MenuDish .Dish:nth-of-type(1) {
  animation-delay: 0s;
}

.MenuDish .Dish:nth-of-type(2) {
  animation-delay: 0.5s;
}

.MenuDish .Dish:nth-of-type(3) {
  animation-delay: 1s;
}

.Presentation .PresentationLocalization {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #EAEAEA;
}
.Presentation .PresentationLocalization .fa-location-dot {
  font-size: 90%;
}
.Presentation .PresentationLocalization input {
  width: 9rem;
  display: flex;
  border: none;
  background: transparent;
  margin: 15px 0;
  outline: none;
  text-align: center;
}
.Presentation .PresentationLocalization input::placeholder {
  width: auto;
  text-align: center;
  color: black;
  opacity: 1;
}
.Presentation .PresentationText {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.Presentation .PresentationText h2 {
  margin: 2em 2em 0 2em;
}
.Presentation .PresentationText p {
  font-size: 18px;
  margin: 1em 1em 1em 1em;
}

.Functioning {
  margin: 48px 0 68px 0;
}
.Functioning .FunctioningArt {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 20px 20px 20px 32px;
  grid-gap: 25px;
}
.Functioning .FunctioningArt i:hover {
  color: #9356DC;
}
.Functioning .FunctioningArt i {
  color: #7E7E7E;
}
.Functioning .FunctioningArt .FunctioningSteps {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #F6F6F6;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  justify-content: start;
  gap: 20px;
  cursor: pointer;
}
.Functioning .FunctioningArt .FunctioningSteps:hover {
  box-shadow: 0rem 0.1rem 1rem #9356DC;
}
.Functioning .FunctioningArt .FunctioningSteps .function-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 1.5rem 0 1.5rem 2rem;
  gap: 1.5rem;
}
.Functioning .FunctioningArt .FunctioningSteps:hover .fa-mobile-screen, .Functioning .FunctioningArt .FunctioningSteps:hover .fa-list-ul, .Functioning .FunctioningArt .FunctioningSteps:hover .fa-store {
  color: #9356DC;
}

.ListNumber {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transform: scale(1);
  transform: translate(-1rem);
}
.ListNumber .Number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2rem;
  height: 2rem;
  background-color: #9356DC;
  border-radius: 1rem;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.ArtGroup {
  position: relative;
  margin-bottom: 6rem;
}
.ArtGroup .ArtResto {
  position: relative;
  margin: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.ArtGroup .ArtResto .ImgResto {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.ArtGroup .ArtResto .parent-new {
  position: relative;
  display: flex;
  justify-content: end;
}
.ArtGroup .ArtResto .parent-new .new {
  font-weight: 500;
  color: #008766;
  position: absolute;
  margin: 13px;
  padding: 7px;
  background-color: #99E2D0;
  border-radius: 5%;
}
.ArtGroup .ArtResto .InfoResto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ArtGroup .ArtResto .InfoResto .TextResto {
  font-size: 17px;
  margin: 16px 13px 12px;
}
.ArtGroup .ArtResto .InfoResto .TextResto p, .ArtGroup .ArtResto .InfoResto .TextResto h3 {
  gap: 5px;
}
.ArtGroup .ArtResto .InfoResto .LikeResto {
  position: relative;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.ArtGroup .ArtResto .InfoResto .LikeResto i, .ArtGroup .ArtResto .InfoResto .LikeResto svg {
  cursor: pointer;
  font-size: 1.5rem;
}
.ArtGroup .ArtResto .InfoResto .LikeResto i.fa-solid, .ArtGroup .ArtResto .InfoResto .LikeResto svg.fa-solid {
  transition: transform 0.6s;
  transform: scale(0);
  position: absolute;
  font-size: 1.6rem;
}
.ArtGroup .ArtResto .InfoResto .LikeResto:hover i.fa-solid, .ArtGroup .ArtResto .InfoResto .LikeResto:hover svg.fa-solid {
  transform: scale(1);
  background-image: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  color: #fff;
  border-radius: 30px;
  border: none;
  margin: 1em 2em;
  padding: 1rem 3rem;
  cursor: pointer;
}
button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(to top, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.35);
}

.btnHome {
  height: 50px;
  margin: 1em 3em;
  padding: 13px 18px;
}

.btnContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 3%;
}
header .LogoTitre, header .Loader .TextCharge h2, .Loader .TextCharge header h2, header footer .LogoFooter, footer header .LogoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 30px;
}
header .element-header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .element-header .arrow {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 22px;
}
footer .LogoFooter {
  margin: 0%;
  font-size: 18px;
  color: white;
  margin-bottom: 16px;
}
footer ul, footer li {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 7px;
}
footer ul i, footer ul svg, footer li i, footer li svg {
  color: #fff;
}
footer ul a, footer li a {
  color: #fff;
}

.Loader, .BackgroundLoader {
  visibility: visible;
  animation: disappear 0s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.Loader {
  z-index: 10000;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Loader .LoaderElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: -200px;
}
.Loader .LoaderElement .LoaderC {
  position: absolute;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-right-color: transparent;
}
.Loader .LoaderElement .LoaderO {
  position: absolute;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin-purple 1.3s linear infinite;
}
.Loader .LoaderElement .CercleIntern {
  position: absolute;
  border: 2px solid transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #EAEAEA;
  border-bottom-color: #EAEAEA;
  animation: spin-rigth 3s linear infinite;
}
.Loader .LoaderElement .CercleCenter {
  position: absolute;
  border: 2px solid transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top-color: #EAEAEA;
  border-bottom-color: #EAEAEA;
  animation: spin-left 3s linear infinite;
}
.Loader .LoaderElement .CercleExtern {
  position: absolute;
  border: 2px solid transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top-color: #EAEAEA;
  border-bottom-color: #EAEAEA;
  animation: spin-rigth 3s linear infinite;
}
.Loader .TextCharge {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loader .TextCharge h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #EAEAEA;
}

.BackgroundLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #353535;
  opacity: 0.95;
  z-index: 9999;
}

.ImgBackground {
  width: 100%;
  height: 230px;
  margin-bottom: -3rem;
  object-fit: cover;
}

.Menu {
  position: relative;
  max-width: 100%;
  padding: 2rem 1rem 3rem;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
}
.Menu .MenuDish {
  margin-bottom: 3rem;
}
.GreenBarre {
  height: 5px;
  width: 10%;
  background-color: #99E2D0;
  margin: 12px 0;
}

.Dish {
  position: relative;
  background-color: #FFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  justify-content: start;
  margin: 12px 13px;
  display: flex;
  flex-direction: row;
  align-content: end;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  animation: slideInFromRight 1s ease-out;
}
.Dish .dish-text {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}
.Dish .dish-text h3 {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Dish .dish-text p {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Dish .Price {
  display: flex;
  align-items: end;
  padding: 1rem 2rem 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.Dish .check {
  width: 6rem;
  margin-right: -6rem;
  max-height: 100%;
  background-color: #99E2D0;
}
.Dish .check .fa-circle-check {
  height: 100%;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
@keyframes stayVisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.Dish:hover .check {
  margin-right: 0;
  transition: all 0.5s;
  animation-duration: 5s;
}
.Dish:hover .check .fa-circle-check {
  animation: valid 0.7s linear;
}

.LikeTitle {
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  padding: 0 1rem;
}
.LikeTitle .TitleResto {
  width: 100%;
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 28px;
}
.LikeTitle .LikeResto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.LikeTitle .LikeResto i, .LikeTitle .LikeResto svg {
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
}
.LikeTitle .LikeResto i.fa-solid, .LikeTitle .LikeResto svg.fa-solid {
  transition: transform 0.6s;
  transform: scale(0);
  font-size: 1.5rem;
}
.LikeTitle .LikeResto:hover i.fa-solid, .LikeTitle .LikeResto:hover svg.fa-solid {
  transform: scale(1);
  background-image: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=style.css.map */