html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/assets/fonts/Shrikhand-Regular.ttf");
}
.TitleSection {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 26px 20px;
}

footer, .btnCommand, .Functioning .FunctioningArt .FunctioningSteps {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
}

button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
}

.Presentation .PresentationText p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
}

.ArtGroup .ArtResto .InfoResto .TextResto, .Presentation .PresentationLocalization h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
}

@keyframes spin-rigth {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes spin-left {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-360deg) scale(0.8);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes spin-purple {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(110deg);
  }
  50% {
    transform: rotate(190deg);
  }
  85% {
    transform: rotate(190deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.Presentation .PresentationLocalization {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #EAEAEA;
}
.Presentation .PresentationLocalization .fa-location-dot {
  font-size: 90%;
}
.Presentation .PresentationLocalization h2 {
  margin: 15px;
}
.Presentation .PresentationText {
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
}
.Presentation .PresentationText h2 {
  margin: 2em 2em 0 2em;
}
.Presentation .PresentationText p {
  font-size: 18px;
  margin: 1em 1em 1em 1em;
}

.Functioning {
  margin: 48px 0 68px 0;
}
.Functioning .FunctioningArt {
  display: grid;
  align-items: center;
  text-align: center;
  margin: 20px 20px 20px 32px;
  grid-gap: 25px;
}
.Functioning .FunctioningArt i:hover {
  color: #9356DC;
}
.Functioning .FunctioningArt i {
  color: #7E7E7E;
}
.Functioning .FunctioningArt .FunctioningSteps {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  justify-content: start;
  padding: 7% 8%;
  gap: 20px;
}

.ArtGroup {
  position: relative;
}
.ArtGroup .ArtResto {
  margin: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.ArtGroup .ArtResto .ImgResto {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.ArtGroup .ArtResto .InfoResto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ArtGroup .ArtResto .InfoResto .TextResto {
  font-size: 17px;
  margin: 16px 0 0 13px;
}
.ArtGroup .ArtResto .InfoResto .TextResto p, .ArtGroup .ArtResto .InfoResto .TextResto h3 {
  gap: 5px;
}
.ArtGroup .ArtResto .InfoResto .LikeResto {
  position: relative;
  padding: 0 1rem;
}
.ArtGroup .ArtResto .InfoResto .LikeResto i, .ArtGroup .ArtResto .InfoResto .LikeResto svg {
  cursor: pointer;
  font-size: 2rem;
}
.ArtGroup .ArtResto .InfoResto .LikeResto i.fa-regular, .ArtGroup .ArtResto .InfoResto .LikeResto svg.fa-regular {
  transform: translate(-10%, 10%);
}
.ArtGroup .ArtResto .InfoResto .LikeResto i.fa-solid, .ArtGroup .ArtResto .InfoResto .LikeResto svg.fa-solid {
  transition: transform 0.6s;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  transform: translate(-10%, -10%);
}
.ArtGroup .ArtResto .InfoResto .LikeResto:hover i.fa-solid, .ArtGroup .ArtResto .InfoResto .LikeResto:hover svg.fa-solid {
  transform: scale(1);
}

button {
  height: 50px;
  margin: 1em 3em;
  padding: 13px 18px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
}

.btnCommand {
  padding: 17px;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.LogoTitre, .TextCharge h2, .LogoFooter {
  font-family: "Shrikhand";
  font-weight: 400;
  margin: 3% 0 1%;
  font-size: 30px;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 22px;
}

.LogoFooter {
  margin: 0%;
  font-size: 18px;
  color: white;
  margin-bottom: 16px;
}

ul, li {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 7px;
}

a {
  color: #fff;
}

.Loader, .BackgroundLoader {
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.Loader {
  z-index: 10000;
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.Loader .LoaderElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: -200px;
}
.Loader .LoaderElement .LoaderC {
  position: absolute;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-right-color: transparent;
}
.Loader .LoaderElement .LoaderO {
  position: absolute;
  border: 10px solid #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin-purple 1.3s linear infinite;
}
.Loader .LoaderElement .CercleIntern {
  position: absolute;
  border: 2px solid transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top-color: #EAEAEA;
  border-bottom-color: #EAEAEA;
  animation: spin-rigth 3s linear infinite;
}
.Loader .LoaderElement .CercleCenter {
  position: absolute;
  border: 2px solid transparent;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-top-color: #EAEAEA;
  border-bottom-color: #EAEAEA;
  animation: spin-left 3s linear infinite;
}
.Loader .LoaderElement .CercleExtern {
  position: absolute;
  border: 2px solid transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top-color: #EAEAEA;
  border-bottom-color: #EAEAEA;
  animation: spin-rigth 3s linear infinite;
}

.BackgroundLoader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #353535;
  opacity: 0.95;
  z-index: 9999;
}

.TextCharge {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextCharge h2 {
  font-size: 25px;
  letter-spacing: 2px;
  color: #EAEAEA;
}/*# sourceMappingURL=style.css.map */