// Génèral
.TitleSection {
    @extend %Roboto724;
}

// Section présentation (Barre de localisation + Texte description + bouton)
.Presentation{ 
    
    .PresentationLocalization {
        @include FlexCenter;
        background-color: $thirdcolorbase;

        .fa-location-dot{
            font-size: 90%;
        }

        h2{
            @extend %Roboto317;
            margin: 15px;
        }    
    } 

    .PresentationText {
        @include GridCenter;
        background-color: $secondcolorbase;

        h2 {
             margin: 2em 2em 0 2em;
         }
 
         p{
            @extend %Roboto318;
            font-size: 18px;
             margin: 1em 1em 1em 1em;
         }
    }
}

// Section Fonctionnement 
.Functioning {  
    margin: 48px 0 68px 0;

    .FunctioningArt {
        @include GridCenter;
        margin: 20px 20px 20px 32px;
        grid-gap: 25px;

        i:hover {
                color: $maincolor;
            }

        i {
            color: #7E7E7E;  
        }

        .FunctioningSteps {
            @include FlexCenter;
            @extend %Roboto516;
            background-color: $secondcolorbase;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 16px;
            justify-content: start;
            padding:  7% 8%;
            gap: 20px;
        } 
    }
}

// Section comprenant les articles de presentation des restaurant
.ArtGroup {
    position: relative;

    .ArtResto {
        margin: 5%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    
        .ImgResto {
            max-width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            
        }
        .InfoResto {

            display:flex;
            align-items: center;
            justify-content: space-between;


            .TextResto {
            @extend %Roboto317;
            font-size: 17px;
            margin: 16px 0 0 13px;

                p, h3 {
                    gap: 5px;
                }
            }

            .LikeResto {
                position: relative;
                padding: 0 1rem;

                    i, svg {
                        cursor: pointer;
                        font-size: 2rem;

                        &.fa-solid {
                            transition: transform 0.6s;
                            // transform: scale(0);
                            position: absolute;
                            top: 0.25rem;
                            left: 0.25rem;
                        }
                    }

                    &:hover {
                        i, svg {
                            &.fa-solid {
                                transform: scale(1);
                            }
                        }
                    }

            }
        }
    }
}