// Génèral
.title-section {
    @extend %Roboto724;
}

// Section présentation (Barre de localisation + Texte description + bouton)
.presentation{ 
    
    .presentation-localization {
        @include FlexCenter;
        background-color: $thirdcolorbase;

        .fa-location-dot{
            font-size: 90%;
        }
        
        input {
            width: 9rem;
            display: flex;
            border: none;
            background: transparent;
            @extend %Roboto317;
            margin: 1rem 0;
            outline: none;
            text-align: center;

            &::placeholder {
                width: auto;
                text-align:center;
                color: black;
                opacity: 1;
            } 
        } 
    } 
    
   
    .presentation-text {
        @include GridCenter;
        
        background-color: $secondcolorbase;

        h2 {
            margin: 2em 2em 0 2em;
        }
 
        p {
            @extend %Roboto318;
            font-size: 18px;
             margin: 1em 1em 1em 1em;
        }
    }
}


// Section Fonctionnement 
.functioning {  
    
    padding: 3rem 1rem;


    .functioning-art {
        width: 100%;
        margin-top: 2rem;
        @include GridCenter;
        grid-gap: 3rem;

        i:hover {
                color: $maincolor;
            }

        i {
            color: #7E7E7E;  
        }

        .functioning-steps {
            position: relative;
            width: 100%;
            background-color: #008766;
            @include FlexCenter;
            @extend %Roboto516;
            background-color: $secondcolorbase;
            box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
            justify-content: start;
            gap: 20px;
            cursor: pointer;

      

            .function-text{
                @include FlexCenter;
                padding: 1.5rem 2rem;
                gap: 1.5rem;
            }
            
        } 

        

        .functioning-steps:hover .fa-mobile-screen,.functioning-steps:hover .fa-list-ul,.functioning-steps:hover .fa-store{
            color: $maincolor;
            
        }
    }
}

.list-number{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
                    
    transform: scale(1);
    transform: translate(-1rem);
                
    .number{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 2rem;
        height: 2rem;
                
        background-color: $maincolor;
        border-radius: 1rem;
                
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
}


// Section comprenant les articles de presentation des restaurant
.eatery{
    background-color: $secondcolorbase;
    padding: 2rem 1rem;
}

.art-group {
    position: relative;
    margin-top: 2rem;
    display: grid;
    grid-gap: 3rem;

    .art-resto {
        position: relative;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        
        .img-resto {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }
          
        .parent-new{
            position: relative;
            display: flex;
            justify-content: end;

           .new{
                @extend %Roboto516;
                font-weight: 500;
                color: #008766;
                position: absolute;
                margin: 0.75rem;
                padding: 0.5rem;
                background-color: $thirdcolor;
                border-radius: 0.25rem;
            } 
        }
        

        .info-resto {
            display:flex;
            align-items: center;
            justify-content: space-between;


            .text-resto {
            @extend %Roboto317;
            font-size: 17px;
            margin: 0.5rem 1rem;

                p, h3 {
                    gap: 0.25rem;
                }
            }

            .like-resto {
                position: relative;
                padding: 0 1rem;
                @include FlexCenter;
                

                    i, svg {
                        cursor: pointer;
                        font-size: 1.5rem;

                        &.fa-solid {
                            transition: transform 0.6s;
                            transform: scale(0);
                            position: absolute;
                            font-size: 1.6rem;
                        }
                    }

                    &:hover{
                        i, svg {
                            &.fa-solid {
                                transform: scale(1);
                                background-image: $degrade;
                                background-clip: text;
                                -webkit-background-clip: text;
                                color: transparent;
                            }
                        }
                    }

            }
        }
    }
}



// Medium devices (tablets, less/equal than 1024px) //
@media (min-width: 765px)  {

    // Section des restaurants et section des fonctionnement
    .functioning, .eatery{
        padding: 2.5rem 5rem;
    }

    //L'ensemble des bouton de la section fonctionnement
    .functioning .functioning-art{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    //Bouton de la section des fonctionnement
    .functioning .functioning-art .functioning-steps{
        border-radius: 1.5rem;
        height: 60px;
    }

    //Div contenant le texte et l'iconne des fonctionnement
    .functioning .functioning-art .functioning-steps .function-text {
        padding: 1rem 1.5rem 1rem 2rem;
        font-size: 0.8rem;
        font-weight: 200;
    }
}



// Medium devices (tablets, less/equal than 1024px) //
@media (min-width: 1025px) {

    // Section des restaurants et section des fonctionnement
    .functioning, .eatery{
        padding: 3rem 6rem;
    }
   
    //L'ensemble des bouton de la section fonctionnement
    .functioning .functioning-art {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 7rem;
        
        .functioning-steps{
            font-size: 1rem;

            
       }
    }

    //Articles des restaurants 
    .art-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}