    .TitleResto {
       @extend .LogoTitre;
       font-size: 28px;
    }

    .TitleMenu {
        @extend %Roboto316;
    }

.ImgBackground{
    width: 100%;
    height: 230px;
    margin-bottom: -3rem;
    
}

    .Menu {
        position: relative;
        max-width: 100%;
        padding: 2rem 1rem 3rem;
        background-color: $secondcolorbase;
        border-radius: 40px 40px 0px 0px;

        .MenuDish{
            margin-bottom: 3rem;
        }
    }

    .GreenBarre {
        height: 5px;
        width: 10%;
        background-color: $thirdcolor;
        
    }

    .Dish {
        position: relative;
        @extend %Roboto516;
        background-color: #FFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        border-radius: 15px;
        justify-content: start;
        padding: 3%;
        margin: 12px 13px;
        display: flex;
        flex-direction: column;
        align-content: end;
        

        .PriceContainer {
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
            height: 100%;
        }

        h3 {
            @extend %Roboto518;
        }

        p {
            @extend %Roboto316;
            font-size: 15px;
            
            &.Price {
                position: absolute;
                justify-content: center;
                font-weight: 700;
                margin: 25px;
            }   
        }
    }

    .LikeTitle {
        margin-bottom: 2rem;
        display: flex;
        position: relative;
        padding: 0 1rem;

        .TitleResto{
        width: 100%;
        }

        .LikeResto{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            i, svg {
                cursor: pointer;
                font-size: 1.5rem;
                position: absolute;
                &.fa-solid {
                    transition: transform 0.6s;
                    transform: scale(0);
                    font-size: 1.5rem;
                }
            }

            &:hover{
                i, svg {
                    &.fa-solid {
                        transform: scale(1);
                        background-image: $degrade;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

   



