footer {
    @extend %Roboto516;
    background-color: $maincolorbase;
    color: #fff;
    padding: 22px;


.LogoFooter {
    @extend .LogoTitre;
    margin: 0%;
    font-size: 18px;
    color: white; 
    margin-bottom: 16px;
}

ul, li{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 7px;

    i, svg {
        color: #fff;
    }
    a {
        color: #fff;
    }
}



}