.Loader, .BackgroundLoader{
    visibility: visible;
    animation: disappear 0s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
  }

.Loader {
    z-index: 10000;
    display:grid;
    grid-template-rows:1fr 1fr;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .LoaderElement {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: -200px;

        .LoaderC {
            position: absolute;
            border: 10px solid $maincolor;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border-right-color: transparent;
        }
        
        .LoaderO {
            position: absolute;
            border: 10px solid $maincolor;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border-left-color: transparent;
            animation: spin-purple 1.3s linear infinite;
        }
        
        .CercleIntern {
            position: absolute;
            border: 2px solid transparent;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-top-color:$thirdcolorbase;
            border-bottom-color: $thirdcolorbase;
            animation: spin-rigth 3s linear infinite;
        }
        
        .CercleCenter {
            position: absolute;
            border: 2px solid transparent;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border-top-color:$thirdcolorbase;
            border-bottom-color: $thirdcolorbase;
            animation: spin-left 3s linear infinite;
        }
        
        .CercleExtern {
            position: absolute;
            border: 2px solid transparent;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border-top-color:$thirdcolorbase;
            border-bottom-color: $thirdcolorbase;
            animation: spin-rigth 3s linear infinite;
        }
    }

    .TextCharge {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    
        h2 {
            @extend .LogoTitre;
            font-size: 25px;
            letter-spacing: 2px;
            color: $thirdcolorbase;
        }
    }
}

.BackgroundLoader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $maincolorbase;
    opacity: 0.95;
    z-index: 9999;
    
}